#Box-relative{
    background-color: lightgray;
    width: 100%;
    height: 200px;
    position: relative;
}
#Box-absolute{
    background-color: darkgray;
    width: 45%;
    height: 50px;
    position: absolute;
    right: 0%;
    bottom: 0%;  
}